@model Projeto_Rumo.Copa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Copa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BebidaEscolhida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BebidaEscolhida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.PratoDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.PratoDisponivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCopa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
